.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.rContainer {
    width: 30%;
    background-color: white;
    padding: 20px 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    
}

.rContainer > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: brown;
    
}

.rInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.rButton {
    width: 100%;
    padding: 10px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rButton:disabled {
    background-color: #b5b5b5;
    cursor: not-allowed;
}

.rButton:hover {
    background-color: green;
}

.error {
    color: red;
    font-size: 15px;
}

.rInput[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Ensure consistency with other inputs */
    cursor: pointer; /* Show pointer cursor when hovering */
}
